.main {
    position: relative;
}

.cIItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img {
    height: 70vh;
}


.theMap{ 
    margin-top: 10px;
    width: 80%; 
    height: 70vh;
} 