.main {
    position: relative;
}

.cIItem {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    overflow: hidden;
}

#img {
    height: 80vh;
}


.theMap{ 
    margin-top: 10px;
    width: 60%; 
    height: 55vh;
} 

.mapDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeText {
    margin-top: 10vh;
    font-size: 2rem;
    width: 75%;
} 

.homeText p {
    font-size: 1.5rem;
}